<%- include("partials/header.ejs") %>
    <h1><%=greeting%></h1>
    <p><%=paragraph%></p>
    

   <% posts.forEach(function(post){%>
      <h2><%=post.title%></h2>
      <p><%=post.post.substring(0, 50)%></p>
      <a href="/post/<%=post.title%>">Read More</a>
    <% })%>
    
</body>
<%- include("partials/footer.ejs") %>